body {
  font-family: 'Raleway', sans-serif;
  background-color: #24292e;

  margin: 0px;
}

header.site-header {
  background-color: #1a1e21;
}

.navbar {
  background-color: #121517;
}

.sidebar {
  background-color: #121212;
}

/*Header shaping*/
  /*header.site-header {
    padding: 0px;
    margin: 0px;
  }*/
  /*Center text*/
  .header-text-container {
    width: 20%;
    min-width: 320px;
  }

  .masthead {
    margin: 0px;

  }
  .subtext {
    text-align: right;
    margin: 0px;
  }

/*NAVBAR*/
.navbar ol{
  text-align: left;
  margin: 0px;
}

.nav-items li{
  font-family: 'Bungee', cursive;
  display: inline-block;
}

.nav-items a {
  text-decoration: none;
}
.nav-items a:hover {
  border-bottom: 1px solid gray;
}

#Home {
  color: firebrick;
}

#Blog {
  color: darkolivegreen;
}

#Projects {
  color: slateblue;
}

#ContactInfo {
  color: darkgoldenrod;
}

/*SIDEBAR*/
.sidebar {

}

.sidebar-items li a{
  color: #efefef;
  text-decoration: none;
}

.sidebar-items li a:hover {
  color: gray;
}

.sidebar-items {
  margin: 0px;
}

#UsefulLinks {
  margin: 0px;
  color: slateblue;
}

#SearchThisPage {
  margin: 0px;
  color: chocolate;
}

#Featured {
  margin: 0px;
  color: darkolivegreen;
}

/*List items*/
ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

/* Text styling */
.masthead {
  font-family: 'Bungee', cursive;
  color: #ffffff;
}

.subtext {
  font-family: 'Bungee', cursive;
  color: #9f9f9f;
}

.sidebar h3 {
  font-family: 'Bungee', cursive;
}
